@charset "utf-8";
@import 'variables';

.badge {
  font-size: 80%;
  background-color: rgba(0,0,0,0.05);
  padding: 3px;
  border-radius: 3px;
  float: left;
}

table td .long {
  display: inline-block;
  max-width: calc(25vw - 115px);
  word-wrap: break-word;
}
