:root {
  --ifm-color-primary: #5a379e;
  --ifm-color-primary-dark: #6f4ab8;
  --ifm-color-primary-darker: #825bd3;
  --ifm-color-primary-darkest: #966bed;
  --ifm-color-primary-light: #a27bef;
  --ifm-color-primary-lighter: #ad8cf1;
  --ifm-color-primary-lightest: #b99cf3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #412b6e;

  --ifm-font-family-base: 'Vazir', 'IRANSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

[data-theme='dark'] {
  --ifm-color-primary: #bface5;
  --ifm-color-primary-dark: #aa90de;
  --ifm-color-primary-darker: #8f6ed4;
  --ifm-color-primary-darkest: #754ec6;
  --ifm-color-primary-light: #6945b0;
  --ifm-color-primary-lighter: #5b3d9a;
  --ifm-color-primary-lightest: #4e3484;
  --docusaurus-highlighted-code-line-bg: #c5adf5;
}

.openapi-right-panel__container {
  max-width: 550px !important;
  width: 100%;
}

.openapi-left-panel__container {
  width: 100%;
}

.theme-api-markdown {
  display: flex;
}
